@font-face {
    font-family: "Golos";
    src: url("./Golostextregular.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Golos";
    src: url("./Golostextmedium.woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Golos";
    src: url("./Golostextdemibold.woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Golos";
    src: url("./Golostextbold.woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Golos";
    src: url("./Golostextblack.woff2");
    font-style: normal;
    font-weight: 900;
}
